
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexcentre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stylehebergement {
    color: blue;
    text-decoration: none;
    width: 140px;
    height: 99px;
    font-family: 'Raleway' ;
}

.bordurebleu {
    border-top: 1px solid blue;
}

.styleactivites {
    color:black;
    text-decoration: none;
    font-family: 'Raleway' ;
}

.stylesinscrire {
    color: blue;
    text-decoration: none;
    font-family: 'Raleway' ;
}

.logoreversia {
    width: 115px;
    
}

.sizeLiens{
    width: 45%;
}

.textetrouvez {
    font-family: 'Raleway';
}

.bordurebutrecherche {
    width: 400px;
    border-radius: 5px;
}

.tailleicone {
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
}

.butrecherche{
    height: 46px;
    width: 230px;
    font-size: 18px;
    color: black;
    border: 0.2px solid #f2f2f2;
}

.fondbleu {
    background-color: #0065FC;
} 

.buttonrecherche {
    height: 50px;
    width: 120px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.paddingbutton{
    padding-left: 10px;
}