
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

                                    /* General */

body {
    font-family: 'Raleway';
    width: 100%;
}


body {
   overflow-x: hidden; 
}

header {
    margin-left: 20px;
}

.couleur {
    color: #0065FC;
}

.couleurGris {
    color: #f2f2f2;
}
.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexAround2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    margin-left: 40px;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flexcentrecolone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexAroundcolone{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.flexBetweencolone {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flexcentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
                                    /* navbar */
.stylehebergement {
    color: black ;
    text-decoration: none;
    width: 140px;
    height: 99px;
    font-size: 16px;
    font-family: 'Raleway' ;
}

.bordurebleu {
    border-top: 1px solid transparent;
}

.bordurebleu2 {
    border-top: 1px solid transparent;
}

.bordurebleu2:hover {
    border-top: 1px solid #0065FC;
    cursor: pointer;  
}

.bordurebleu:hover {
    border-top: 1px solid #0065FC;
    cursor: pointer;  
}

.bordurebleu:hover > a {
    color: #0065FC;  
}

.styleactivites {
    color:black;
    width: 140px;
    height: 99px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Raleway' ;
}

.stylesinscrire {
    color: #0065FC;
    width: 140px;
    height: 99px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Raleway' ;
    font-weight: bold;
}

.logoreversia {
    width: 115px;
    position: relative;
    left: 18px;
    
    
}
                                    /* Recherche */     
.sizeLiens{
    width: 45%;
}

.textetrouvez {
    font-size: 13px;
    position: relative;
    left: 20px;
    
}

.texteEnpleincentre {
    position: relative;
    left: 20px;
}

.boutton {
    position: relative;
    left: 20px;
}

.bordurebutrecherche {
    width: 400px;
    border-radius: 5px;
}

.tailleicone {
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
}

.butrecherche{
    height: 46px;
    width: 230px;
    font-size: 18px;
    color: black;
    border: 0.2px solid #f2f2f2;
}

.fondbleu {
    background-color: #0065FC;
} 

.loupe {
    display: none;
}

.buttonrecherche {
    height: 50px;
    width: 120px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
}

.buttonrecherche :hover {
        color: #0065FC;
        background-color: #f2f2f2;
}
.paddingbutton{
    padding-left: 10px;
}

                                        /* filtres */

.filtres{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    left: 20px;
}

.txtfiltres {
    margin-right: 30px;
    font-size: 20px;
    margin-bottom: 3px;
}

.bordurefiltres:hover > .filtretexte {
    color: #0065FC;
}
.bordurefiltres:hover > .bordureicone {
    color: white;
    background-color: #0065FC;
}

.filtretexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.bordurefiltres {
    border: 2px solid #f2f2f2 ;
    height: 50px;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer
    
}

.bordureicone{
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #deebfF; 
}
                                        /* Info */
.info {
    display: flex;
    align-items: center;
    position: relative;
    left: 20px;
}

.couleurinfo {
    color: #0065FC;
}

.rond {
    height: 30px;
    width: 30px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-bottom: 35px;
}

.txtdecal {
    margin-left: 10px;
    margin-bottom: 30px;
}
                                    /* Hebergements */
.fondhebergements {
    flex: 2;
    height: 800px;
    margin-right: 20px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.contourblanc:hover{
cursor: pointer;
transform: scale(1.1)
}


.fondgris {
    background-color: #F2F2F2 ;
}

.fondgris2 {
    background-color: #F2F2F2 ;
}


.Hbloc {
    padding-left: 50px;
    padding-right: 50px;
}

.contourblanc {
    width: 29%;
    height: auto;
    background-color: white;
    padding: 0.5%;
    border-radius: 20px ;
}

.c1 {
    margin-bottom: 50px;
}

.c2 {
    margin-top: 50px;
}

.textajuste1 {
    margin-left: 15px;
    line-height: 80%;
}

.textajuste2 {
    margin-left: 15px;
    line-height: 80%;
}

.textajuste3 {
    margin-left: 15px;
    line-height: 80%;
}

.textajuste4 {
    margin-left: 15px;
    line-height: 80%;
}

.textajuste5 {
    margin-left: 15px;
    line-height: 80%;
}

.textajuste6{
    margin-left: 15px;
    line-height: 80%;
}

.txtafficherplus {
    margin-top: 50px;
}
.imgH1 {
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041846/marcus-loke-WQJvWU_HZFo-unsplash_xxd9yj.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imgH2 {
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041844/fred-kleber-gTbaxaVLvsg-unsplash_vmfx4b.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imgH3 {
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041846/reisetopia-B8WIgxA_PFU-unsplash_osstnl.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imgH4 {
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041844/annie-spratt-Eg1qcIitAuA-unsplash_s6koeq.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imgH5 {
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041844/nicate-lee-kT-ZyaiwBe0-unsplash_hbdb7x.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.imgH6 {
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041844/febrian-zakaria-M6S1WvfW68A-unsplash_ahsj82.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

                                                                                 /* Populaires */
.textpop {
    padding-left: 10px;
    margin-top: -15px;
    margin-bottom: 35px;
}

.fondpopulaires {
    flex: 0.8;
    height: 800px;
    margin-left: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
    
}

.iconepop {
    padding-right: 30px;
}

.blocpop {
    padding-left: 50px;
    padding-right: 50px; 
    margin-top: 20px;   
}

.blocpop2 {
    padding-left: 50px;
    padding-right: 50px;
}

.contourajuste{
    padding-top: 20px;
    width: 70%;
    padding-left: 3%;
}
.contourblancpop {
background-color: white;
height: auto;
border-radius: 20px ;
padding: 1% 0 1% 1%;
}

.contourblancpop:hover{
    cursor: pointer;
    transform: scale(1.1)
    }

.marge {
    margin-top: -70px;
}
.textimgP {
    line-height: 80%;
    padding-bottom: 30px;
    margin-top: -50px;
}

.etoileplacementpop {
    margin-bottom: -10px;
}
.espacePop1-2 {
    margin-bottom: 15px;
    
}

.centragepop {
    padding-bottom: 100px;
}
.imgP1 {
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041844/emile-guillemot-Bj_rcSC5XfE-unsplash_rkz4qj.jpg");
    background-size: cover;
    background-position: center;
    width: 32%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

.imgP2 {
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041844/aw-creative-VGs8z60yT2c-unsplash_e4rmxq.jpg");
    background-size: cover;
    background-position: center;
    width: 32%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

.imgP3 {
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041844/febrian-zakaria-M6S1WvfW68A-unsplash_ahsj82.jpg");
    background-size: cover;
    background-position: center;
    width: 32%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

                                                                                 /* Activites */



.blocactivites {
    width: 95%;
    height: 600px;
    position: relative;
    left: 29px;
   
}



.blocactivites2356 {
    width: 23%;
    height: 600px;    
}

.reglageespace{
    margin-top: 70px;
}

.reglageespacetitre{
    padding-top: 30px;
    padding-left: 6px;
    margin-bottom: 30px;
    position: relative;
    left: 29px;
}
.blocA {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}


.blocA:hover {
    cursor: pointer;
    transform: scale(1.03)
}

.blocA2356{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.blocA2356:hover {
    cursor: pointer;
    transform: scale(1.03)
}

.titrehauteu{
    height: 70px;
}

.titrereglage{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
.imgact1{
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041847/reno-laithienne-QUgJhdY5Fyk-unsplash_uxor8a.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0 ;
}

.imgact2{
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041846/paul-hermann-QFTrLdQIRhI-unsplash_ggxhqb.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0 ;
}

.imgact3{
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041846/kevin-hikari-rV_Qd1l-VXg-unsplash_onbgcc.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0 ;
}

.imgact4{
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041846/kilyan-sockalingum-NR8-cBCN3aI-unsplash_jas21m.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0 ;
}

.imgact5{
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041844/florian-wehde-xW9e8gdotxI-unsplash_ehyzbh.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0 ;
}

.imgact6{
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041846/lena-paulin-wH2-EJoDcV0-unsplash_mgz78i.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0 ;
}

                                                                                 /* Footer */
.footer{
    height: 300px;
    margin-top:100px;
    width: 100%;
}

.fondgris3 {
    background-color: #F2F2F2 ;
   
}

.bloctaille{
    height: 150px;
}

.blocmarge1{
    margin-left: 5%;
}

.blocmarge2{
    margin-right: 15%;
}
                                                                                 /* responsive*/
@media screen and (min-width:1021px) and (max-width:1100px) {
.textajuste1 {
    line-height: 20px;
}

.textajuste1 p {
    position: relative;
    bottom: 10px;
}

.flexAround2 {
    display: flex;
    flex-direction: column-reverse;
}

.flexAroundcolone {
    display: flex;
    
}



.fondpopulaires {
width: 800px;
position: relative;
right: 15px;
}

.fexbetweenresponsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexAroundcolone {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.responsive1 {
display: flex;
flex-direction: column;
position: relative;
right: 60px;
top: 15px;

}

.imgP1 {
width: 205px;
border-radius: 15px 15px 0 0;
position: relative;

}

.contourblancpop {
    height: 200px;
    width: 210px;
}

.textimgP h3 {
    position: relative;
    top: 20px;
    line-height: 15px;
    
}

.textimgP p {
    position: relative;
    top: 20px; 
}

.etoileplacementpop {
    position: relative;
    top: -15px;
}

.responsive2 {
    display: flex;
flex-direction: column;
position: relative;
bottom: 15px;
}

.imgP2 {
    width: 205px;
    border-radius: 15px 15px 0 0;
    position: relative;
    left: -4px;
    }

.responsive3 {
    display: flex;
flex-direction: column;
position: relative;
left: 60px;
bottom: 20px;
}

.imgP3 {
    width: 205px;
    border-radius: 15px 15px 0 0;
    position: relative;
    left: -4px;
    }

.contourajuste {
    width: 90%;
}

.fondhebergements {
    width: 800px;
}
}
 @media screen and (min-width:600px) and (max-width:1084px)
{
    .bordure {
        display: block;
        width: 375px;
        flex-direction: column;
    }

    .blocpop {
        margin-left: 0;
        position: relative;
        right: 8px;
    }
    
                                  /* filtres*/ 
                            
    .filtres{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: 50px;
        width: 80%;
        margin-left: -10px;
    } 
    .responsivesliens {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }
    .fondgris {
        background-color: none;
    }
}                                                      
    
@media screen and (min-width:0px) and (max-width:600px)
{


    .logoreversia {
        position: relative;
        left: -120px;
        top: 5px;
        
    }
    
    .bordurebutrecherche {
        width: 100%;
    }

    .textetrouvez {
        width: 90%;
        margin-top: 30px;
        margin-left: -10px;
        text-align:justify;
        
    }

    .boutton {
       margin-left: -25px;
        width: 375px;
    }

    .btn-text {
        display: none;
    }

    .txtdecal {
        width: 80%;
        margin-bottom: 50px;
    }

    .texteEnpleincentre{
        width: 80%;
        margin-left: -10px;
    }

    .info {
        margin-left: -10px;
    }

    .loupe {
        display: flex;
    }

    .buttonrecherche {
        height: 50px;
        width: 15%;
        position: relative;
        right: 20px;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 10px 10px 10px 10px;
        font-weight: bold;
    }
    
                                   /* populaires*/
    
    .textpop {
        margin-bottom: 90px;
        margin-top: 30px;
        margin-left: 10px;
    }

    .fondpopulaires {
        display: flex;
        height: 800px;
        width: 375px;
        border-radius: 0px;
        margin-bottom: 25px;
        margin-left: -8px;
    }

    .blocpop {
        padding-left: 0;
        padding-right: 0;
        margin-right: 50px;
    }

    .iconepop {
        align-items: flex-end;
    }

    .responsive1 {
        display: flex;
        align-items: center;
        width: 90%;
        position: relative;
        left: 15px;
        
    }

    .imgP1 {
      width: 180px;
    }

    .textimgP {
        line-height: 1.2em;
      }

    .responsive2 {
        display: flex;
        align-items: center;
        width: 90%;
        position: relative;
        left: 15px;
        
    }
    .imgP2 {
        width: 180px;
      }

    .responsive3 {
        display: flex;
        align-items: center;
        width: 90%;
        position: relative;
        left: 15px;
        margin-bottom: 15px;
    }

    .imgP3 {
        width: 180px;
      }

                                /* carte-hebergement*/
    .fondhebergements {
        display: flex;
        flex-direction: column;
        width: 375px;

    }

    .fondgris{
        background-color: white;
        
    }

    .flexAround2 {
        display: flex;
       flex-direction: column-reverse;

    }
    .Hbloc {
        display: flex;
        align-items: center;
        border-radius: 0 0 0 0;   
        position: relative;
        right: 30px; 
    }

    .Hbloc2 {
        display: flex;
        flex-direction: column;
        margin-top: -30px; 
        border-radius: 0 0 0 0;
        width: 375px;
        
    }

    .titreH {
        position: relative;
        right: 20px;
    }

    .c1 {
        display: flex;
        flex-direction: column;
        width: 375px;
        position: relative;
        right: 0px;
    }
    
                            /* carte-hebergement-1*/
    .carteH1 {
        display: flex;
        width: 90%;
        margin-bottom: 30px;
       
    }

    .imgH1 {
        position: absolute;
        width: 90%;
        z-index:1;
        
        }

    .textajuste1 {
        position:relative;
        top: 150px;
        left: 10px;
        width:80%;
        z-index:2
    }

    
                            /* carte-hebergement-2*/
    .carteH2 {
        display: flex;
        width: 90%;
        margin-bottom: 30px;
    }

    .imgH2 {
        position: absolute;
        width: 90%;
        z-index:1;
        }

    .textajuste2 {
        position:relative;
        top: 150px;
        left: 10px;
        width:80%;
        z-index:2
    }
                            /* carte-hebergement-3*/
    .carteH3 {
        display: flex;
        width: 90%;
        margin-bottom: 30px;
    }

    .textajuste3 {
        position:relative;
        top: 150px;
        left: 10px;
        width:80%;
        z-index:2
    }

    .imgH3 {
        position: absolute;
        width: 90%;
        z-index:1;
        }
                            /* carte-hebergement-4*/
    .carteH4 {
        display: flex;
        width: 90%;
        margin-bottom: 30px;
        
    }

    .textajuste4 {
        position:relative;
        top: 150px;
        left: 10px;
        width:80%;
        z-index:2
    }

    .imgH4 {
        position: absolute;
        width: 71%;
        z-index:1;
        }

                            /* carte-hebergement-5*/
    .carteH5 {
        display: flex;
        width: 71%;
        margin-bottom: 30px;
    }

    .textajuste5 {
        position:relative;
        top: 150px;
        left: 10px;
        width:80%;
        z-index:2
    }

    .imgH5 {
        position: absolute;
        width: 71%;
        z-index:1;
        }

                        /* carte-hebergement-6*/
        .carteH6 {
        display: flex;
        width: 90%;
        margin-bottom: 30px;
    }

    .textajuste6 {
        position:relative;
        top: 150px;
        left: 10px;
        width:80%;
        z-index:2
    }

    .imgH6 {
        position: absolute;
        width: 71%;
        z-index:1; 
    }

    .contourblanc {
    width: 90%;
    height: 250px;
    background-color: white;
    padding: 0.8%;
    border-radius: 20px ;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    }
    
    

    .txtafficherplus {
        display: none;
    }

    .reglageespacetitre {
        padding-top: 10px;
        margin-left: -20px;
    }
   

                                 /*boutonslien (Hébergement,Activités,S'inscrire)*/
    .responsivesliens {
       flex-direction: column;
    }
    
    .responsive5 {
        display: flex;
        align-items: center;
        width: 100%;
        
     }
     
    .bordurebleu {
        border-bottom: 2px solid #f2f2f2;
        border-top: none;
        width: 190px;
   }
   .bordurbleu2 {
    border-bottom: 2px solid #0065FC;
    border-top: none;
    width: 190px;
        
   }    
    
   .stylesinscrire {
       position: relative;
       bottom: 70px;
       right: 70px;
       width: 100%;
        
   }

   .stylehebergement  {
       position: relative;
       left: 30px;
       
        
   }

   .styleactivites {
    position: relative;
    left: 30px;
    
   }

  

   header {
       margin-left: 0;
   }

                                 /*boutonslien (Hébergement,Activités,S'inscrire)*/

  .blocactivites {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 60px;
  }    
  
  .imgact1 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
  }

  .blocA {
    width: 95%;
    height: 250px;
    background-color: white;
    padding: 0.8%;
    border-radius: 20px ;
    margin-bottom: 25px;
    position: relative;
    right: 30px;
  }

  .reglageespace {
      margin-top: 30px;
  }

  .imgact2 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
  }

  .blocactivites2356 {
    width: 95%;
    height: 200px;
    background-color: white;
    padding: 0.8%;
    border-radius: 20px ;
    position: relative;
    right: 30px;
   
  }

  .reglageresponsive{
      margin-top: 280px;
  }

  .imgact4{
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041846/kilyan-sockalingum-NR8-cBCN3aI-unsplash_jas21m.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0 ;
}

.imgact5{
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041844/florian-wehde-xW9e8gdotxI-unsplash_ehyzbh.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0 ;
}

.imgact6{
    background-image: url("https://res.cloudinary.com/dx8au0kkp/image/upload/v1625041846/lena-paulin-wH2-EJoDcV0-unsplash_mgz78i.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0 ;
}

.footer{
    height: 500px;
    position: relative;
    top: 790px;
    right: 10px;
    width: 100%;
    display: flex;
        flex-direction: column;
}

.blocmarge1 {
    position: relative;
    right: 40px;
    top: 10px;
}

.blocmarge2 {
    position: relative;
    right: 57px;
    bottom: 30px;
}

.blocmarge3{
    position: relative;
    right: 57px;
    top: 10px;
}

}
